force-app/main/default/flows/GuestPass_AU_HandleCheckIn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>invocableApplyLeadAssignmentRules</actionName>
        <actionType>invocableApplyLeadAssignmentRules</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>invocableApplyLeadAssignmentRules</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Lead_Record_Type</name>
        <label>Set Lead Record Type</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LEAD_RECORD_TYPE_INVITED_GUEST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invited_Guest</stringValue>
        </value>
    </constants>
    <constants>
        <name>LEAD_RECORD_TYPE_MEMBERSHIP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Lead</name>
        <label>Check for Lead</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Guest_is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LEAD_RECORD_TYPE_INVITED_GUEST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record_Type</targetReference>
            </connector>
            <label>Guest is Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Lead_Record_Type</name>
        <label>Check Get Lead Record Type</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Record Type Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Record_Type</targetReference>
            </connector>
            <label>Got Record Type</label>
        </rules>
    </decisions>
    <description>Record-triggered, after update. When a guest pass is checked in, convert related lead to a Membership lead</description>
    <environments>Default</environments>
    <interviewLabel>GuestPass AU HandleCheckIn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GuestPass AU HandleCheckIn</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Record_Type</name>
        <label>Get Lead Record Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Lead_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LEAD_RECORD_TYPE_MEMBERSHIP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign_Lead</targetReference>
        </connector>
        <inputReference>lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <object>Guest_Pass__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
