force-app/main/default/flows/GuestPass_AIAU_EmailHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Guest_Pass</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>donotreply@asphaltgreen.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Related_Record_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Email_Name_to_Guest_Pass</name>
        <label>Set Email Name to Guest Pass</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EMAIL_TEMPLATE_GUEST_PASS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Guest_Pass_Sent_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Name_to_Invitation</name>
        <label>Set Email Name to Invitation</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EMAIL_TEMPLATE_INVITATION</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Invitation_Sent_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Guest_Pass_Sent_Flag</name>
        <label>Set Guest Pass Sent Flag</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>guestPass.Guest_Pass_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitation_Sent_Flag</name>
        <label>Set Invitation Sent Flag</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>guestPass.Invitation_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EMAIL_TEMPLATE_GUEST_PASS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Member Guest Pass Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>EMAIL_TEMPLATE_INVITATION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Member Guest Pass Invitation Template</stringValue>
        </value>
    </constants>
    <constants>
        <name>EMAIL_TEMPLATE_NAME_CT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Guest Pass Invitation Ct Email Template</stringValue>
        </value>
    </constants>
    <constants>
        <name>EMAIL_TEMPLATE_NAME_LD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Member Guest Pass Invitation Template</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Get_Email_Template</name>
        <label>Check Get Email Template</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Email Template Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Email_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Got Email Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Guest_Pass_Source</name>
        <label>Check Guest Pass Source</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Send_Scenario</targetReference>
            </connector>
            <label>Is Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Send_Scenario</name>
        <label>Check Send Scenario</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Invitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invitation_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Name_to_Invitation</targetReference>
            </connector>
            <label>Is Invitation</label>
        </rules>
        <rules>
            <name>Is_Deliver_Guest_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Guest_Pass_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Name_to_Guest_Pass</targetReference>
            </connector>
            <label>Is Deliver Guest Pass</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert and after update. Send an email to a newly appointed guest with redemption information. Once waivers are signed, send an email with a QR code for access.</description>
    <environments>Default</environments>
    <interviewLabel>GuestPass AIAU EmailHandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GuestPass AIAU EmailHandler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Guest_Pass</name>
        <label>Update Guest Pass</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <inputReference>guestPass</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Guest_Pass_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Guest_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Guest_Pass__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>guestPass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Pass__c</objectType>
    </variables>
</Flow>
