force-app/main/default/flows/GuestPass_AIAU_SendInvitationEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Invitation_Sent_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>donotreply@asphaltgreen.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Related_Record_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Ct_Email_Template_Name</name>
        <label>Set Ct Email Template Name</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EMAIL_TEMPLATE_NAME_CT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Name</name>
        <label>Set Email Template Name</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EMAIL_TEMPLATE_NAME_LD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EMAIL_TEMPLATE_NAME_CT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Guest Pass Invitation Ct Email Template</stringValue>
        </value>
    </constants>
    <constants>
        <name>EMAIL_TEMPLATE_NAME_LD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Guest Pass Invitation Ld Email Template</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Email_Address</name>
        <label>Check for Email Address</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Email Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Guest_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Type</targetReference>
            </connector>
            <label>Has Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Email_Template</name>
        <label>Check Get Email Template</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Email Template Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Email_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Got Email Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Type</name>
        <label>Check Related Type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ct_Email_Template_Name</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_Name</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert and after update. Send an email to a newly appointed guest with redemption information.</description>
    <environments>Default</environments>
    <interviewLabel>GuestPass AIAU SendInvitationEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GuestPass AIAU SendInvitationEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invitation_Sent_Flag</name>
        <label>Update Invitation Sent Flag</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Invitation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Email_Address</targetReference>
        </connector>
        <filterFormula>AND(
  !{!$Record.Invitation_Sent__c}, 
  ISPICKVAL( {!$Record.Status__c}, &quot;Valid&quot; ), 
  OR(
    ISNEW(), 
    ISCHANGED( {!$Record.Lead__c} ), 
    ISCHANGED( {!$Record.Contact__c} )
  )
)</filterFormula>
        <object>Guest_Pass__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
