force-app/main/default/flows/GuestPass_SFRP_CheckIn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Checked_In_Details</name>
        <label>Set Checked In Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Visit_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Visit_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Guest_Visit_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Guest_Visit_Details</name>
        <label>Set Guest Visit Details</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>guestVisit.Guest_Pass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestVisit.Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Visit_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestVisit.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestVisit.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestVisit.Host_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Host_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestVisit.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Signed_Waiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Waiver_Status</name>
        <label>Set Waiver Status</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>guestVisit.Waiver_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Guest_Visit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Signed_Waiver</name>
        <label>Check for Signed Waiver</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Insert_Guest_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Signed_Waiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Waiver_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Waiver_Status</targetReference>
            </connector>
            <label>Has Signed Waiver</label>
        </rules>
    </decisions>
    <description>Screen flow for the Guest Pass record page. Check in a guest pass to record visit information on the record and create a related guest visit.</description>
    <environments>Default</environments>
    <interviewLabel>GuestPass SFRP CheckIn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GuestPass SFRP CheckIn</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Guest_Visit</name>
        <label>Insert Guest Visit</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Guest_Pass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dml_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>guestVisit</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Guest_Pass</name>
        <label>Update Guest Pass</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Dml_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Checked_In_Details</targetReference>
        </connector>
        <fields>
            <name>Input_Visit_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Visit Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dml_Error_Screen</name>
        <label>Dml Error Screen</label>
        <locationX>754</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Inserting_Guest_Visit_Screen_Msg</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The guest pass could not be checked in. If the problem persists, check with your system administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: &lt;span style=&quot;color: rgb(160, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>guestVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Visit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Pass__c</objectType>
    </variables>
</Flow>
