force-app/main/default/flows/GuestPass_SFCP_GuestWaiver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Guest_Pass</name>
        <label>Set Guest Pass</label>
        <locationX>1408</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Guest_Pass</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Pass_from_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Guest_Pass_Details</name>
        <label>Set Guest Pass Details</label>
        <locationX>556</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Get_Guest_Pass.Waiver_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Guest_Pass.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Guest_Pass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Waiver_Contact</name>
        <label>Set Waiver Contact</label>
        <locationX>622</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Pass.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Valid_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Contact_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Waiver_Details</name>
        <label>Set Waiver Details</label>
        <locationX>556</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>waiver.TREX1__caf_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Capture_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Contract_Expiry_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.TREX1__Contract_Expiry_Policy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Date_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Has_Been_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Primary_Contact_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.TREX1__Primary_Contact_Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Required_for_Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.TREX1__Required_for_Activation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Required_for_Transaction_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.TREX1__Required_for_Transaction_Close__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Signed_By_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Template_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiver Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Valid_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.TREX1__Valid_Until_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Waiver_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Template.TREX1__Waiver_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlWaiverName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.Guest_Pass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Pass.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Waiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Waiver_Lead</name>
        <label>Set Waiver Lead</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>waiver.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Pass.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>waiver.TREX1__Valid_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Lead_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LEAD_COMPANY_DEFAULT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </constants>
    <constants>
        <name>LEAD_MEMBERSHIP_RECTYPE_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Contact_Update</name>
        <label>Check for Contact Update</label>
        <locationX>622</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Review_Waiver_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Update_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Contact__r.Birthdate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Input_Birthdate_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Contact__r.MailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Home_Zip_Code</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Contact__r.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Input_Phone_Text</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Guest_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Input_Email_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Guest_Contact</targetReference>
            </connector>
            <label>Contact Update Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Guest_Pass</name>
        <label>Check for Guest Pass</label>
        <locationX>1056</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Input_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Guest Pass Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Guest_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Pass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>Got Guest Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Lead_Update</name>
        <label>Check for Lead Update</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Review_Waiver_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Update_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Lead__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Input_Email_Text</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Lead__r.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Input_Phone_Text</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Lead__r.PostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Home_Zip_Code</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Lead__r.Birthdate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Input_Birthdate_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Guest_Lead</targetReference>
            </connector>
            <label>Lead Update Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Passed_Pass</name>
        <label>Check for Passed Pass</label>
        <locationX>1298</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Input_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Passed_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Guest_Pass</targetReference>
            </connector>
            <label>Has Passed Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Contract_Template</name>
        <label>Check Get Contract Template</label>
        <locationX>963</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Error_Template_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract Template Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Contract_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guest_Information_Screen</targetReference>
            </connector>
            <label>Got Contract Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Guest_Pass_from_Email</name>
        <label>Check Get Guest Pass from Email</label>
        <locationX>1540</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Pass_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GP from Email Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Guest_Pass_from_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Pass_from_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Guest_Pass</targetReference>
            </connector>
            <label>Got Guest Pass from Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Guest_Type</name>
        <label>Check Related Guest Type</label>
        <locationX>556</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Review_Waiver_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Guest_is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Waiver_Lead</targetReference>
            </connector>
            <label>Guest is Lead</label>
        </rules>
        <rules>
            <name>Guest_is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Waiver_Contact</targetReference>
            </connector>
            <label>Guest is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1298</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Invalid_Status_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Invalid Status</defaultConnectorLabel>
        <rules>
            <name>Is_Invited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Pass.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Template</targetReference>
            </connector>
            <label>Is Invited</label>
        </rules>
    </decisions>
    <description>Screen flow, community pages. Sign a guest waiver. A Guest Pass Id can be passed in to link the waiver to an existing guest pass.</description>
    <environments>Default</environments>
    <formulas>
        <name>strFmlScreenHeader</name>
        <dataType>String</dataType>
        <expression>&quot;Claim Guest Pass&quot; + IF( !ISBLANK( {!Get_Guest_Pass.Guest_First_Name__c} ), &quot; for &quot; + {!Get_Guest_Pass.Guest_First_Name__c} + &quot; &quot; + {!Get_Guest_Pass.Guest_Last_Name__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>strFmlWaiverName</name>
        <dataType>String</dataType>
        <expression>{!Get_Guest_Pass.Guest_First_Name__c} + &quot; &quot; + {!Get_Guest_Pass.Guest_Last_Name__c}  + &quot; - &quot; + {!Get_Contract_Template.Name}</expression>
    </formulas>
    <formulas>
        <name>strFmlZipCode</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK( {!Get_Guest_Pass.Contact__c} ), 
  {!Get_Guest_Pass.Contact__r.MailingPostalCode}, 
  {!Get_Guest_Pass.Lead__r.PostalCode}
)</expression>
    </formulas>
    <interviewLabel>GuestPass SFCP GuestWaiver {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GuestPass SFCP GuestWaiver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Waiver</name>
        <label>Insert Waiver</label>
        <locationX>556</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Set_Guest_Pass_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Inserting_Waiver_Screen</targetReference>
        </faultConnector>
        <inputReference>waiver</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Template</name>
        <label>Get Contract Template</label>
        <locationX>963</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Contract_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Guest_Waiver__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Contract_or_Form_Template__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Guest_Pass</name>
        <label>Get Guest Pass</label>
        <locationX>1056</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Guest_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pass</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Guest_Pass__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Guest_Pass_from_Email</name>
        <label>Get Guest Pass from Email</label>
        <locationX>1540</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Guest_Pass_from_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Guest_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_SearchEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Guest_Pass__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Guest_Contact</name>
        <label>Update Guest Contact</label>
        <locationX>490</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Review_Waiver_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Guest_Pass.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Input_Birthdate_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Input_Email_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Home_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Input_Phone_Text</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Guest_Lead</name>
        <label>Update Guest Lead</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Review_Waiver_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Guest_Pass.Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>Input_Birthdate_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Input_Email_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Input_Phone_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Home_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Guest_Pass</name>
        <label>Update Guest Pass</label>
        <locationX>556</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>Get_Guest_Pass</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>556</locationX>
        <locationY>2522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You&apos;re all set. Enjoy your time at Asphalt Green!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Inserting_Waiver_Screen</name>
        <label>Error Inserting Waiver Screen</label>
        <locationX>1106</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Inserting_Waiver_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Inserting_Waiver_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Template_Not_Found_Screen</name>
        <label>Error Template Not Found Screen</label>
        <locationX>1370</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Template_Not_Found_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Template_Not_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttDefaultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guest_Information_Screen</name>
        <label>Guest Information Screen</label>
        <locationX>556</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Related_Guest_Type</targetReference>
        </connector>
        <fields>
            <name>Guest_Information_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Guest_Information_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Guest_Information_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_FirstName_Text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Guest_Pass.Guest_First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_LastName_Text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Guest_Pass.Guest_Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Birthdate_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Guest_Information_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Email_Text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Guest_Pass.Guest_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Input_Phone_Text</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Home_Zip_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Home Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Not_Found_Screen</name>
        <label>Input Not Found Screen</label>
        <locationX>1540</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Guest_Pass_from_Email</targetReference>
        </connector>
        <fields>
            <name>Input_Not_Found_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_SearchEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enter the email address associated with your guest pass</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Search for Pass</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Status_Screen</name>
        <label>Invalid Status Screen</label>
        <locationX>1634</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Status_Screen_Expired</name>
            <fieldText>&lt;p&gt;This guest pass has expired.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Guest_Pass.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Expired</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invalid_Status_Screen_Attended</name>
            <fieldText>&lt;p&gt;This guest pass has already been used.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Guest_Pass.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Attended</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invalid_Status_Screen_Issued</name>
            <fieldText>&lt;p&gt;No guest is associated with this guest pass.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Guest_Pass.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Issued</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invalid_Status_Screen_Valid</name>
            <fieldText>&lt;p&gt;This guest pass has already been claimed and is ready for use. We look forward to seeing you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Guest_Pass.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Valid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Pass_Found_Screen</name>
        <label>No Pass Found Screen</label>
        <locationX>1672</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Pass_Found_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Pass_Found_Screen_Msg</name>
            <fieldText>&lt;p&gt;{!ttNoPassFoundMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Waiver_Screen</name>
        <label>Review Waiver Screen</label>
        <locationX>556</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Waiver_Details</targetReference>
        </connector>
        <fields>
            <name>Review_Waiver_Screen_Header</name>
            <fieldText>&lt;p&gt;{!ttScreenHeader}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Waiver_Screen_Waiver_Details</name>
            <fieldText>&lt;p&gt;{!Get_Contract_Template.TREX1__Waiver_Text__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>I Agree</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1172</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Passed_Pass</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttDefaultErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hmm... something went wrong.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The waiver could not be completed. Please contact an Asphalt Green Guest Services Representative for assistance.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttNoPassFoundMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;No guest pass was found for this email. Please contact us to claim your pass.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttScreenHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!strFmlScreenHeader}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>pass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>waiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Contract_and_Form__c</objectType>
    </variables>
</Flow>
