force-app/main/default/flows/Lead_AI_CreateSignedWaiver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sserkin@asphaltgreen.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error has occurred in the Lead AI CreateSignedWaiver flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Contract_and_Form</name>
        <label>Set Contract and Form</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>contractAndForm.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.Guest_Waiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__caf_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Capture_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web-to-Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Contract_Expiry_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.TREX1__Contract_Expiry_Policy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Date_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Has_Been_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Primary_Contact_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.TREX1__Primary_Contact_Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Required_for_Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.TREX1__Required_for_Activation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Required_for_Transaction_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.TREX1__Required_for_Transaction_Close__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Signed_By_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Template_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiver Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Valid_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.TREX1__Contract_Valid_For__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Valid_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.TREX1__Valid_Until_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Waiver_Require_Initial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Waiver_Require_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Waiver_Require_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.TREX1__Waiver_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Guest_Waiver.TREX1__Waiver_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAndForm.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlContractName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Contract_and_Form</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Guest_Waiver</name>
        <label>Check Get Guest Waiver</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Guest Waiver Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Guest_Waiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Waiver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_and_Form</targetReference>
            </connector>
            <label>Got Guest Waiver</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert. For new web-to-lead records with a signed waiver, create a contract and form record with the guest waiver details.</description>
    <environments>Default</environments>
    <formulas>
        <name>strFmlContractName</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.FirstName} &amp; &quot; - &quot; &amp; {!Get_Guest_Waiver.Name} , 80 )</expression>
    </formulas>
    <interviewLabel>Lead AI CreateSignedWaiver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead AI CreateSignedWaiver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Contract_and_Form</name>
        <label>Insert Contract and Form</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>contractAndForm</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Guest_Waiver</name>
        <label>Get Guest Waiver</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Guest_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Guest_Waiver__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TREX1__Contract_or_Form_Template__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Guest_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Web_to_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Waiver_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;An error has occurred in the Lead AI CreateSignedWaiver flow.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contractAndForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Contract_and_Form__c</objectType>
    </variables>
</Flow>
