force-app/main/default/flows/Lead_AU_ConvertRelatedRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contract_to_Update_List</name>
        <label>Add Contract to Update List</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contracts.TREX1__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contracts.TREX1__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Guest_Pass_to_Update_List</name>
        <label>Add Guest Pass to Update List</label>
        <locationX>138</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Guest_Passes.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstGuestPassesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Guest_Passes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Guest_Passes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Guest_Visit_to_Update_List</name>
        <label>Add Guest Visit to Update List</label>
        <locationX>138</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Guest_Visits.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstGuestVisitsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Guest_Visits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Guest_Visits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Contracts_and_Forms</name>
        <label>Check Get Contracts and Forms</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Guest_Visits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contracts and Forms Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Contracts_and_Forms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_and_Forms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contracts</targetReference>
            </connector>
            <label>Got Contracts and Forms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Guest_Passes</name>
        <label>Check Get Guest Passes</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Guest Passes Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Guest_Passes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Passes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Guest_Passes</targetReference>
            </connector>
            <label>Got Guest Passes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Guest_Visits</name>
        <label>Check Get Guest Visits</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Get_Guest_Passes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Guest Visits Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Guest_Visits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Visits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Guest_Visits</targetReference>
            </connector>
            <label>Got Guest Visits</label>
        </rules>
    </decisions>
    <description>Record-triggered, after update. When a lead is successfully converted, transfer its related lists to the newly created contact.</description>
    <environments>Default</environments>
    <interviewLabel>Lead AU ConvertRelatedRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead AU ConvertRelatedRecords</label>
    <loops>
        <name>Loop_through_Contracts</name>
        <label>Loop through Contracts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Contract_and_Forms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contract_to_Update_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Guest_Passes</name>
        <label>Loop through Guest Passes</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <collectionReference>Get_Guest_Passes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Guest_Pass_to_Update_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Guest_Passes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Guest_Visits</name>
        <label>Loop through Guest Visits</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Guest_Visits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Guest_Visit_to_Update_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Guest_Visits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_and_Forms</name>
        <label>Get Contract and Forms</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Contracts_and_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TREX1__Contract_and_Form__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Guest_Passes</name>
        <label>Get Guest Passes</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Guest_Passes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Guest_Pass__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Guest_Visits</name>
        <label>Get Guest Visits</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Guest_Visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Guest_Visit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Guest_Visits</targetReference>
        </connector>
        <inputReference>lstContractsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Guest_Passes</name>
        <label>Update Guest Passes</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <inputReference>lstGuestPassesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Guest_Visits</name>
        <label>Update Guest Visits</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Get_Guest_Passes</targetReference>
        </connector>
        <inputReference>lstGuestVisitsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_and_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedContactId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstContractsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Contract_and_Form__c</objectType>
    </variables>
    <variables>
        <name>lstGuestPassesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Pass__c</objectType>
    </variables>
    <variables>
        <name>lstGuestVisitsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Visit__c</objectType>
    </variables>
</Flow>
