force-app/main/default/flows/Membership_AIAU_GenerateGuestPasses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Guest_Pass_to_List</name>
        <label>Add Guest Pass to List</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>guestPass.Host_Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Host_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Host_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__memb_Type__r.TREX1__Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFmlExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstGuestPassesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>guestPass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_Guest_Passes_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>numGuestPassesCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Guest_Pass_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Guest_Passes_to_Create</name>
        <label>Check for Guest Passes to Create</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Insert_Guest_Passes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Guest_Pass_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numGuestPassesCreated</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TREX1__memb_Type__r.Guest_Passes_per_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>Has Guest Pass to Create</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert and after update. When a membership is newly activated, generate new guest passes for the member.</description>
    <environments>Default</environments>
    <formulas>
        <name>dateFmlExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!dateFmlNextRenewalDate} - 1</expression>
    </formulas>
    <formulas>
        <name>dateFmlNextRenewalDate</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( {!$Flow.CurrentDate} ) + 1, MONTH( {!$Flow.CurrentDate} ), DAY( {!$Flow.CurrentDate} ) )</expression>
    </formulas>
    <interviewLabel>Membership AIAU HandleGuestPasses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership AIAU GenerateGuestPasses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Guest_Passes</name>
        <label>Insert Guest Passes</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputReference>lstGuestPassesToInsert</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Guest_Passes_to_Create</targetReference>
        </connector>
        <filterFormula>AND(
  ISPICKVAL( {!$Record.TREX1__Status__c}, &quot;Active&quot; ), 
  OR( 
    ISNEW(), 
    ISPICKVAL( {!$Record__Prior.TREX1__Status__c}, &quot;Draft&quot; ) ,
    ISPICKVAL( {!$Record__Prior.TREX1__Status__c}, &quot;Pending Active&quot; )
  ), 
  {!$Record.TREX1__memb_Type__r.Guest_Passes_per_Year__c} &gt; 0
)</filterFormula>
        <object>TREX1__Membership__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>guestPass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Pass__c</objectType>
    </variables>
    <variables>
        <name>lstGuestPassesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Pass__c</objectType>
    </variables>
    <variables>
        <name>numGuestPassesCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
