force-app/main/default/flows/Membership_SCH_GenerateGuestPasses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Guest_Pass_to_List</name>
        <label>Add Guest Pass to List</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>guestPass.Host_Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Host_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Host_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__memb_Type__r.TREX1__Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guestPass.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateFmlExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstGuestPassesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>guestPass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_Guest_Passes_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>numGuestPassesCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Guest_Pass_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Guest_Passes_to_Create</name>
        <label>Check for Guest Passes to Create</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Insert_Guest_Passes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Guest Passes Created</defaultConnectorLabel>
        <rules>
            <name>Has_Guest_Pass_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numGuestPassesCreated</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TREX1__memb_Type__r.Guest_Passes_per_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>Has Guest Pass to Create</label>
        </rules>
    </decisions>
    <description>Daily scheduled flow generates guest passes for memberships on their Guest Pass Renewal Date.</description>
    <environments>Default</environments>
    <formulas>
        <name>dateFmlExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!dateFmlRenewalDate} - 1</expression>
    </formulas>
    <formulas>
        <name>dateFmlRenewalDate</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( {!$Flow.CurrentDate} ) + 1, MONTH( {!$Flow.CurrentDate} ), DAY( {!$Flow.CurrentDate} ) )</expression>
    </formulas>
    <interviewLabel>Membership SCH GenerateGuestPasses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership SCH GenerateGuestPasses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Guest_Passes</name>
        <label>Insert Guest Passes</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Update_Membership_Renewal_Date</targetReference>
        </connector>
        <inputReference>lstGuestPassesToInsert</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Membership_Renewal_Date</name>
        <label>Update Membership Renewal Date</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Guest_Pass_Renewal_Date__c</field>
            <value>
                <elementReference>dateFmlRenewalDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Guest_Passes_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Guest_Pass_Renewal_is_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TREX1__Membership__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-01-21</startDate>
            <startTime>13:54:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>guestPass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Pass__c</objectType>
    </variables>
    <variables>
        <name>lstGuestPassesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guest_Pass__c</objectType>
    </variables>
    <variables>
        <name>numGuestPassesCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
